.calculator {
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 80vh;
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(252, 176, 69, 1) 0%);
    margin-left: 25vw;
    margin-top: 5vh;
    box-shadow: 10px 10px rgb(13, 20, 23);
    border-radius: 20px;
    /*filter: drop-shadow(0 0 0.75rem crimson);*/
}

body {
    background-color: rgb(194, 194, 169);
}

.screen {
    width: 95%;
    height: 20%;
    /* background-color: rgb(68, 68, 68); */
    background-color: rgb(118, 119, 119);
    margin: 17px 6px 2px 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    font-weight: 800;
    border-radius: 20px;
    margin: 30px 0px 0px 14px;
    border: 4px solid black;
    color: white;
}

.button {
    display: flex;
    flex-direction: column;
    width: 98%;
    height: 70%;
    margin: 0px 8px 20px 8px;
    margin-top: 6%;
    background-color: black;
    color: white;
    /* background-color: rgb(68, 68, 68); */
    border-radius: 50px;
}

.first {
    display: flex;
    justify-content: space-around;
    width: 98%;
    height: 33.3%;
    margin: 0.2%;
    margin-top: 1%;
    margin-left: 1%;
    border: 2px bold rgb(228, 217, 217);
    background-color: black;
    border-radius: 50px;
}

.second {
    display: flex;
    justify-content: space-around;
    width: 98%;
    height: 33.3%;
    margin: 0.2%;
    margin-left: 1%;
    border: 2px bold black;
    background-color: black;
    border-radius: 50px;
}

.third {
    display: flex;
    justify-content: space-around;
    width: 98%;
    height: 33.3%;
    margin: 0.2%;
    margin-left: 1%;
    border: 2px bold black;
    background-color: black;
    /* background-color: rgb(223, 203, 207); */
    border-radius: 50px;
}

.last {
    display: flex;
    justify-content: space-around;
    width: 98%;
    height: 33.3%;
    margin: 0.2%;
    margin-left: 1%;
    border: 2px bold black;
    background-color: black;
    border-radius: 34px;
    /* background-color: rgb(223, 203, 207); */
}

.one {
    width: 23%;
    background-color: rgb(118, 119, 119);
    border: 2px bold black;
    font-size: xx-large;
    font-weight: 800;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.two {
    width: 23%;
    background-color: rgb(118, 119, 119);
    border-radius: 50%;
    border: 2px bold black;
    font-size: xx-large;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
}

.three {
    width: 23%;
    background-color: rgb(118, 119, 119);
    border-radius: 50%;
    border: 2px bold black;
    font-size: xx-large;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub {
    width: 23%;
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(252, 176, 69, 1) 0%);
    border-radius: 30%;
    border: 2px bold black;
    font-size: xx-large;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
}

.four {
    width: 23%;
    background-color: rgb(118, 119, 119);
    border-radius: 50%;
    border: 2px bold black;
    font-size: xx-large;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
}

.five {
    width: 23%;
    background-color: rgb(118, 119, 119);
    border-radius: 50%;
    border: 2px bold black;
    font-size: xx-large;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
}

.six {
    width: 23%;
    background-color: rgb(118, 119, 119);
    border-radius: 50%;
    border: 2px bold black;
    font-size: xx-large;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seven {
    width: 23%;
    background-color: rgb(118, 119, 119);
    border-radius: 50%;
    border: 2px bold black;
    font-size: xx-large;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
}

.equal {
    width: 23%;
    background-color: rgb(118, 119, 119);
    border-radius: 50%;
    border: 2px bold black;
    font-size: xx-large;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divide {
    width: 23%;
    background-color: rgb(118, 119, 119);
    border-radius: 50%;
    border: 2px bold black;
    font-size: xx-large;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
}

.zero {
    width: 23%;
    background-color: rgb(118, 119, 119);
    border-radius: 50%;
    border: 2px bold black;
    font-size: xx-large;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
}

.AC {
    width: 24.5%;
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(252, 176, 69, 1) 0%);
    color: white;
    border: 2px bold black;
    font-size: xx-large;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.eight {
    width: 23%;
    background-color: rgb(118, 119, 119);
    border-radius: 50%;
    border: 2px bold black;
    font-size: xx-large;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nine {
    width: 23%;
    background-color: rgb(118, 119, 119);
    border-radius: 50%;
    border: 2px bold black;
    font-size: xx-large;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add {
    width: 24.5%;
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(252, 176, 69, 1) 0%);
    border: 2px bold black;
    border-radius: 50px;
    font-size: xx-large;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub {
    width: 24.5%;
    background-color: rgb(82, 75, 88);
    border: 2px bold black;
    font-size: xx-large;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
}

.multiply {
    width: 24.5%;
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(252, 176, 69, 1) 0%);
    border: 2px bold black;
    border-radius: 50px;
    font-size: xx-large;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
}

.try {
    display: inline-block;
    color: #444;
    border: 1px solid #CCC;
    background: #DDD;
    box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    vertical-align: middle;
    max-width: 100px;
    padding: 5px;
    text-align: center;
}